.nunito-<uniquifier > {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

#container {
    background-color: #2c2e3e;
    border-radius: 10px;
    padding: 0px 25px 0px 25px;
    display: flex;
    justify-content: center;
}

h1#title {
    font-size: 45px;
}

h1 {
    font-size: 30px;
    color: #f6f6f6;
}

body {
    background-color: #34374c;
}
