.nunito-<uniquifier > {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.container {
    padding: 0px 25px 0px 25px;
    border-radius: 10px;
}
.container#main_c {
    background-color: #2c2e3e;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.container#bio_c {
    background-color: #f6f6f6;
    color: #ee2b47;
    margin: 0px 30px 0px 30px;
}

h1#title {
    color: #f6f6f6;
    font-size: 75px;
}

body {
    background-color: #34374c;
}

p#bio_text {
    text-align: justify;
}
