.nunito-<uniquifier > {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

#div_title {
    background-color: #2f1b41;
    border-radius: 10px;
}
